@model IEnumerable<Hospitals.Models.Hospital>

@{
    ViewData["Title"] = "All Hospitals";

}

<h1>Hospitals</h1>
<form asp-action="Index" method="get">
        <div class="form-group">
            Find by name: <input type="text" name="SearchString" />
            <input type="submit" value="Search" class="btn btn-default" />
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Filter by state:</label>
                <select name="filterApplied" class="form-control" asp-items="@ViewBag.filters">
                    <option value="" selected="selected"></option>
                </select>
                
            </div>
        </div>
    </form>
    <a asp-action="Create">Create New Hospital</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewsCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewsCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HospitalID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HospitalID">Details and Reviews</a> |
                <a asp-action="Delete" asp-route-id="@item.HospitalID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
