@model Hospitals.Models.Review

@{
    ViewData["Title"] = "Details";
}

<h1>Hospital review</h1>

<div>
    <h4>Review details</h4>
<a asp-action="Edit" asp-route-id="@Model.ReviewID">Edit Review</a>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Salary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Speciality)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Speciality)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>

    <div>
        <h4>Review text:</h4>
        <p>@Html.DisplayFor(model => model.ReviewText)</p>
    </div>
    </div>

    <h4>Comment section:</h4>
    <a asp-controller="Comment" asp-action="Create" asp-route-ReviewID="@Model.ReviewID">Add new comment to this review</a>
    @foreach (var item in Model.Comments)
{
        <div style="border: 2px solid blue; border-radius: 5px; padding: 5px;">
            <p>User: @Html.DisplayFor(modelItem => item.UserName)</p>
            <p>@Html.DisplayFor(modelItem => item.Date)</p>
            <p>@Html.DisplayFor(modelItem => item.CommentText)</p>
            <a asp-controller="Comment" asp-action="Edit" asp-route-id="@item.CommentID">Edit</a> |
            <a asp-controller="Comment" asp-action="Details" asp-route-id="@item.CommentID">Details</a> |
            <a asp-controller="Comment" asp-action="Delete" asp-route-id="@item.CommentID">Delete</a>
        </div>
}
<div>
    <a asp-action="Index">Back to List</a> |
    <a asp-controller="Hospital" asp-action="Details" asp-route-id="@Model.HospitalID">Back to hospital reviews</a>
</div>
