@model CustomClasses.PaginatedList<Hospitals.Models.Review>

@{
    ViewData["Title"] = "All Reviews";
}
<h1>Reviews</h1>

<form asp-action="Index" method="get">
        <div class="form-group">
            Search by speciality: <input type="text" name="searchString" />
            <input type="submit" value="Search" class="btn btn-default" />
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Filter by department:</label>
                <select name="filterApplied" class="form-control" asp-items="@ViewBag.filters" >
                    <option></option>
                </select>
                
            </div>
        </div>
    </form>

<p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                UserName
            </th>
            <th>
                Department
            </th>
            <th>
                Speciality
            </th>

            <th>
                Rating
            </th>
            <th>
                Salary
            </th>
            <th>
                Date
            </th>
            <th>
                Hospital
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Speciality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hospital.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReviewID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReviewID">Read Review</a> |
                <a asp-action="Delete" asp-route-id="@item.ReviewID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-filterApplied="@ViewBag.filterApplied"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-filterApplied="@ViewBag.filterApplied"
   class="btn btn-default @nextDisabled">
    Next
</a>